
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Rubik+Gemstones&display=swap');
#download-btn {
  background-color: #3498db;
  color: #fff;
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-decoration:none ;
}

#download-btn:hover {
  background-color: #2980b9;
}

#download-counter {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  position: relative;
  margin-left: 10px;
}

.mr-auto{
  position: absolute;
  right: 5%;
}

@media (max-width: 767px) {
  .mr-auto{
    position: relative;
    margin-left: 50px;
  }

  .card-grid{
    display: grid !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
  margin: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #ccc;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.card p {
  position: relative; /* added */
  margin: 10px 0;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s ease;
  max-width: 250px;
}

.card button {
  margin: 10px 0;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;

}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5%;
}


.fancy {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 20px;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
 }
 
 .fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: black;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
 }
 
 .fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
 }
 
 .fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
 }
 
 .fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }
 
 .fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }
 
 .fancy:hover {
  color: white;
  background: black;
 }
 
 .fancy:hover::before {
  width: 0.9375rem;
  background: white;
 }
 
 .fancy:hover .text {
  color: white;
  padding-left: 1.5em;
 }
 
 .fancy:hover .top-key {
  left: -2px;
  width: 0px;
 }
 
 .fancy:hover .bottom-key-1,
  .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
 }
 
  
  .info-container {
  margin-top: 20px;
  text-align: center;
  }
  
  .info-container p {
  font-size: 18px;
  margin-bottom: 20px;
  }
  
  .download-button {
  background-color: #0072ff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 20px;
  }
  
  .download-counter {
  font-size: 18px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .header {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
  }
  
  .form-control {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  
  .form-control:focus {
    outline: none;
    box-shadow: 2px 2px 5px #888888;
  }
  
  .form-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid green;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: lightgreen;
    border: 1px solid lightgreen;
  }
  
  .form-button:focus {
    outline: none;
  }
  
  .error-message {
    margin-top: 10px;
    color: red;
    font-size: 14px;
  }
  .todo-row{
    width: 100% !important;
    margin-bottom: 100px !important;
  }

  .mt-3{
    width: 100%  !important;
    padding: 10px;
  }

  .mt-3 button{
    margin-left: 20px !important;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    background-color: #eee;
    padding: 5px;
}

.grid-item {
    background-color: white;
    border: 1px solid #333;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.winner-text {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    animation: winner-text-animation 0.5s ease-in-out;
}

@keyframes winner-text-animation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.btn-reset {
    margin-top: 20px;
    font-weight: bold;
}

.reset-btn{
  margin-top: 50px;
  margin-bottom: 50px;
}

.hero {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("https://images.pexels.com/photos/3244513/pexels-photo-3244513.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
  background-attachment:  fixed;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  align-items: center;
}

.hero-content {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.hero-title {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 24px;
}

@media (max-width: 992px) {
  .hero-content {
    width: 80%;
  }
}
